<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>question</key>
		<string>問題文１</string>
		<key>choice</key>
		<array>
			<string>回答1-1</string>
			<string>回答1-２</string>
			<string>回答1-３</string>
			<string>回答1-４</string>
		</array>
		<key>answer</key>
		<string>回答1-２</string>
	</dict>
	<dict>
		<key>question</key>
		<string>問題文２</string>
		<key>choice</key>
		<array>
			<string>回答2-1</string>
			<string>回答2-2</string>
			<string>回答2-3</string>
			<string>回答2-4</string>
		</array>
		<key>answer</key>
		<string>回答2-4</string>
	</dict>
	<dict>
		<key>question</key>
		<string>問題文３</string>
		<key>choice</key>
		<array>
			<string>回答3-1</string>
			<string>回答3-2</string>
			<string>回答3-3</string>
			<string>回答3-4</string>
		</array>
		<key>answer</key>
		<string>回答3-3</string>
	</dict>
	<dict>
		<key>question</key>
		<string>問題文４</string>
		<key>choice</key>
		<array>
			<string>回答4-1</string>
			<string>回答4-2</string>
			<string>回答4-3</string>
			<string>回答4-4</string>
		</array>
		<key>answer</key>
		<string>回答4-1</string>
	</dict>
	<dict>
		<key>question</key>
		<string>問題文５</string>
		<key>choice</key>
		<array>
			<string>回答5-1</string>
			<string>回答5-2</string>
			<string>回答5-3</string>
			<string>回答5-4</string>
		</array>
		<key>answer</key>
		<string>回答5-3</string>
	</dict>
</array>
</plist>
